@import "/src/scss/styles";

.content-container {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: all 0.2s ease-out;

  &.inverted {
    color: $color-font-inverted;

    img {
      filter: brightness(1);
    }
  }

  img {
    margin-top: 20px;
    width: 180px;
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
    max-width: 500px;


    button {
      pointer-events: all;
      height: 40px;
    }
  }
}

.backdrop-blur {
  backdrop-filter: blur(10px);
}

@media #{$s-screen} {
  .content-container {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;

    img {
      --padding: 10px;
      margin: calc(20px - var(--padding)) calc(32px - var(--padding)) 0 0;
      padding: var(--padding);
      background-color: #ffffff01;
      border-radius: $rounded-1;
      align-self: flex-start;
    }

    .header-buttons {
      margin: 15px 0 0 40px;
    }


  }
}

