<div (mouseenter)="setHeaderTo('inverted')" (mouseleave)="setHeaderTo('default')"
     [ngClass]="{'showSuccess': emailState === EmailState.done}"
     class="component-wrapper" id="contact_form">
  <div class="banner">
    <h1>Kontakt</h1>
    <h4>Erzählen Sie von Ihrem Anliegen.<br>
      Wir nehmen gerne den Kontakt auf.</h4>
  </div>

  <form (keyup.enter)="FormData.valid && onSubmit(FormData.value)"
        (ngSubmit)="onSubmit(FormData.value)"
        [formGroup]="FormData"
        class="form-container flex-container">

    <mat-form-field appearance="fill" class="form-field-regular" color="warn">
      <mat-label color="warn" for="email">E-Mail</mat-label>
      <input color="warn" formControlName="email" matInput name="email" placeholder="peter.pan@gmail.com" required>
      <mat-icon color="warn" matSuffix>mail_outline</mat-icon>
      <mat-error *ngIf="FormData.invalid">{{'Ungültige E-Mail Adresse'}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field-regular" color="warn">
      <mat-label color="warn" for="name">Name</mat-label>
      <input color="warn" formControlName="name" matInput name="name" placeholder="Peter Pan" required>
      <mat-icon color="warn" matSuffix>person_outline</mat-icon>
      <mat-error *ngIf="FormData.invalid">{{'Pflichfeld'}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field-regular" color="warn">
      <mat-label color="warn" for="tel">Telefonnummer</mat-label>
      <input color="warn" formControlName="tel" matInput name="tel" placeholder="01234 567 8901">
      <mat-icon color="warn" matSuffix>phone_outline</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" color="warn">
      <mat-label color="warn" for="message">Nachricht</mat-label>
      <textarea class="form-field-large" color="warn" formControlName="message" matInput name="message"></textarea>
      <mat-error *ngIf="FormData.invalid">{{'Pflichtfeld'}}</mat-error>
    </mat-form-field>

    <button [disabled]="!FormData.valid && emailState === EmailState.ready"
            [ngClass]="{'loading': emailState === EmailState.sending, 'done': emailState === EmailState.done}"
            color="warn"
            mat-flat-button type="submit">
      <p *ngIf="emailState === EmailState.ready">Anfrage senden</p>
      <p *ngIf="emailState === EmailState.error">Fehler beim senden</p>
      <p *ngIf="emailState === EmailState.done"><b>Fertig!</b> Vielen Dank, wir melden uns</p>
      <mat-spinner *ngIf="emailState === EmailState.sending" color="accent" diameter="50"></mat-spinner>
    </button>

  </form>

  <div class="contactInfo-container">
    <p>Telefon:
      <mark>02634 940490</mark>
    </p>
    <p>Mail:
      <mark>info@baumdienst-neuwied.de</mark>
    </p>
    <p>Adresse:
      <mark>Rengsdorfer Straße 43, 56581 Melsbach</mark>
    </p>
    <p>Bank:
      <mark>Sparkasse Neuwied<br>DE04 5745 0120 0030 5041 04</mark>
    </p>
    <div class="social-buttons-container">
      <a class="facebook-icon" href="https://de-de.facebook.com/Baumdienst-Neuwied-178810535639905/"
         title="Zur Facebook Seite"></a>
      <a class="instagram-icon" href="https://www.instagram.com/baumdienst_neuwied/" title="Zur Instagram Seite"></a>
      <a class="mail-icon" href="mailto:info@baumdienst-neuwied.de" title="E-Mail senden"></a>
    </div>
  </div>
</div>
