@import "/src/scss/styles";

.component-wrapper {
  background-color: $color-background-form;
}
.banner {
  padding-top: 90px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  color: $color-font-inverted;

  * {
    text-align: center;
    margin-bottom: 24px;
  }

  h4 {
    line-height: 27px;
    font-size: 20px;
    letter-spacing: 0.025em;
    font-weight: 300;
    display: none;
  }
}

.form-container {
  background-color: $color-background-form;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 90vw;

  .form-field-regular {
    height: 75px;
  }
  .form-field-large {
    height: 150px;
  }

  button {
    color: $color-accent-primary;
    height: 70px;
  }
}

.contactInfo-container {
  color: $color-font-inverted;
  font-size: $font-size-h4;
  font-weight: $font-weight-light;
  letter-spacing: $letter-spacing-5;
  padding-bottom: 100px;

  p {
    color: rgba($color-font-inverted, 0.5);
    mark {
      color: $color-font-inverted;
      background-color: transparent;
    }
  }

  .social-buttons-container {
    a {
      width: 48px;
      height: 48px;
      margin: 10px;
      display: inline-block;

      &.facebook-icon {
        margin-left: 0;
        background-image: url("/assets/icons/facebook.svg");
      }
      &.instagram-icon {
        background-image: url("/assets/icons/instagram.svg");
      }
      &.mail-icon {
        background-image: url("/assets/icons/email.svg");
      }
    }


  }

}

@media #{$s-screen} {
  .contactInfo-container {
    margin-left: 110px;
  }

  .form-container {
    max-width: 550px;
  }
}


