<div class="text-and-image">
  <div class="centered-container">
    <div class="first-col">
      <h1>Baumfällung</h1>
      <p>Bacon ipsum dolor amet ham hock buffalo jowl, beef t-bone capicola burgdoggen </p>
      <button mat-button>Erfahren Sie mehr</button>
    </div>
    <div><p> porchetta pork loin jerky corned beef biltong leberkas pastrami. Cupim sausage shank pork burgdoggen leberkas salami kielbasa pancetta tenderloin shoulder capicola shankle boudin hamburger. Swine prosciutto brisket frankfurter burgdoggen. Beef flank pork chop sausage kielbasa pastrami alcatra cupim andouille. Short loin salami pork loin, ball tip sausage swine pork belly cupim shank venison ground round meatloaf. Kevin doner turkey sausage sirloin. Chicken pork belly ribeye ground round, corned beef leberkas short ribs.</p></div>
    <div class="img1"><img [src]="content1" alt="BAUM BILD 1"></div>
    <div class="img2"><img [src]="content2" alt="BAUM BILD 2"></div>
  </div>
</div>
