<div class="text-wrapper">
  <h3>
    Der Herbst ist da!<br>
    Jetzt braucht ihr Garten besondere Zuwendung
  </h3>
  <p>
    Wir helfen Ihnen gerne beim Rückschnitt Ihrer Gehölze, dem Formschnitt Ihrer Hecken oder der Pflege Ihrer Bäume. Machen Sie Ihren Garten fit für den Winter, wir sind für Sie da und bieten gerne unsere Dienste an.
  </p>
  <button class="bigShadow" mat-button [color]="'accent'">
    Kostenloses Angebot anfragen
  </button>
</div>


<div class="imgTint">
  <img [src]="imageUrl">
</div>
