<div class="article">
  <div class="heading-container">
    <h1>Baumpflege aus Leidenschaft</h1>
    <h2>Wie wir Ihr zu Hause sicher gestalten</h2>

  </div>
  <div class="content-container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et quos culpa beatae rem voluptatibus quibusdam illum tenetur repellat a soluta neque at, animi odit perspiciatis, iusto non? Fugit, explicabo ducimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore pariatur ipsum hic in harum veritatis porro consequatur necessitatibus, magnam delectus expedita dolore quis id tempore blanditiis ad molestiae ab distinctio?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, nobis. Consequuntur labore cum expedita, quasi suscipit possimus consectetur animi, temporibus incidunt eos iste non vero praesentium! Tempore, ratione quos. Molestias.</p>
  </div>
</div>
