<!--<div class="image-and-button">
  <img [src]="imageUrl" alt="background image">
  <div class="centered-container">
    <div class="content-container">
      <div><h3>Kostenlose Besichtigung und Beratung vor Ort</h3></div>
      <div><h3>02634 940490</h3></div>
      <div><button mat-raised-button>Termin Vereinbaren</button></div>
    </div>
  </div>
</div>
-->
<div class="image-and-button">
  <img [src]="imageUrl" alt="background image">
  <div class="text-wrapper">
    <h1>Baumpflege & Fällung</h1>
    <h4>Kostenlose Besichtigung und Beratung vor Ort
      <br>Tel.: 02634 940490
    </h4>
    <button mat-button>Termin vereinbaren</button>
  </div>



</div>
