<div class="content-container">
    <div class="nav-button-group">
        <a href="#top"><button mat-button>Startseite</button></a>
        <a><button mat-button>Kontakt</button></a>
        <a><button mat-button>Impressum</button></a>
    </div>
    <p>© Baumdinest Neuwied GmbH 2021</p>
    <div class="contact-button-group">
        <a><button href="" mat-icon-button color=""><mat-icon>facebook</mat-icon></button></a>
        <a href="mailto:baumdienst-neuwied.de"><button mat-icon-button color="primary"><mat-icon>mail</mat-icon></button></a>
        <a href="tel:02634940490"><button mat-icon-button color="primary"><mat-icon>phone</mat-icon></button></a>
    </div>
</div>



