<div class="component-wrapper">
  <app-content-header [subtitle]="'topics.leistungen.subtitle' | translate"
                      [title]="'topics.leistungen.title' | translate">
  </app-content-header>

  <section>
    <ul class="container left-container">
      <li *ngFor="let p of paragraphs.left; let i = index">
        <h2>{{romanNumbers[i]}}. {{p.title}}</h2>
        <p>{{p.content}}</p>
        <button mat-button routerLink="{{'/' + p.id}}">
          <mat-icon>arrow_right_alt</mat-icon>
          Mehr Erfahren
        </button>
      </li>
    </ul>

    <ul class="container right-container">
      <li *ngFor="let p of paragraphs.right; let i = index">
        <h3>{{romanNumbers[i + paragraphs.left.length]}}. {{p.title}}</h3>
        <p>{{p.content}}</p>
        <button mat-button routerLink="{{'/' + p.id}}">
          <mat-icon>arrow_right_alt</mat-icon>
          Mehr Erfahren
        </button>
      </li>
    </ul>
  </section>
</div>
