<app-header id="top"></app-header>
<!--<div class="container" id="parallaxContainer">-->
<!--  <div>-->
<!--    <app-content [contentType]="type.image_and_button"></app-content>-->
<!--  </div>-->
<!--  <div>-->
<!--    <app-content [contentType]="type.text_and_image"></app-content>-->
<!--  </div>-->
<!--  <div>-->
<!--    <app-content [contentType]="type.text_only"></app-content>-->
<!--  </div>-->
<!--  <div>-->
<!--    <app-content [contentType]="type.contact_form"></app-content>-->
<!--  </div>-->
<!--</div>-->

<app-content [contentType]="type.image_and_button"></app-content>
<app-content [contentType]="type.text_and_image"></app-content>
<app-content [contentType]="type.text_only"></app-content>
<app-content [contentType]="type.contact_form"></app-content>
