@import "/src/scss/custom-theme-material";
@import "node_modules/@angular/material/theming";

// Own styles for this project
// Provide colors-palletes as importable names
$primary: mat-color($BaumdienstNeuwied-primary);
$accent: mat-color($BaumdienstNeuwied-accent, 500);
$warn: mat-color($BaumdienstNeuwied-white);

/* Global Color Vars */
$color-background-light: #fff;
$color-background-accent: #eee1b3;
$color-background-dark: #804e49;
$color-background-form: #587022;
$color-accent-primary: #587022;
$color-font-main: #121619;
$color-font-inverted: #fff;
$color-font-secondary: #8b8266;
$color-font-action-button: #804E49;
$color-font-offwhite: #E5E5E5;


/* Corner Radius */
$rounded-1: 4px;
$rounded-2: 8px;
$rounded-3: 25px;
$rounded-4: 50px;
$rounded-5: 100px;

/* Font */
$font-family: Poppins;
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-h4: 20px;
$font-size-h3: 24px;
$font-size-h2: 34px;
$font-size-h1: 54px;
$font-size-extraLarge: 64px;

$letter-spacing-10: 0.1em;
$letter-spacing-16: 0.16em;

$font-weight-bolder: bolder;
$font-weight-bold: bold;
$font-weight-regular: normal;
$font-weight-light: lighter;
$font-weight-lighter: 300;


/* Media Query */
$s-screen: "(min-width: 576px)";
$m-screen: "(min-width: 768px)";
$l-screen: "(min-width: 992px)";
$xl-screen: "(min-width: 1200px)";

/* Max content width */
$max-content-wrapper-width: 1200px;

body{
  overflow: hidden;
}

h1 { font-size: $font-size-h1; }
h1.extraLarge { font-size: $font-size-extraLarge, le }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; letter-spacing: $letter-spacing-16; font-weight: normal; }
h4 { font-size: $font-size-h4; font-weight: bold; }

button { font-size: $font-size-regular }
button.bigShadow {
  transition: scale 0.2s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.0);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

img {object-fit: cover;}
* {
    font-family: $font-family;
    scroll-behavior: smooth;
}
